<!DOCTYPE html>
<html>
  <head>
    <title>Nepalify Test page</title>
  </head>
  <body>
    <div>
      <h1>Nepalify Test page</h1>
      <div id="app">
        <input id="some-element" />
        <textarea id="some-other-element"></textarea>
      </div>
    </div>
    <% for (var f in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[f] %>"></script>
    <% } %>
    <script>
      let text = "kiMkr/tv/ybimuX/ haha";
      let ftext = nepalify.format(text);
      let fftext = nepalify.format(text, {layout: romanized})
      
      console.log(text);
      console.log(ftext);
      console.log(fftext);
      
      let nep1 = nepalify.attachToId("some-element");
      let nep2 = nepalify.attachToId("some-other-element", {layout: romanized});
      console.log(nep1.is_enabled());
      console.log(nep2.is_enabled());
      
      nep1.enable();
      nep2.enable();
      console.log(nep1.is_enabled());
      console.log(nep2.is_enabled());
      
      // nep1.disable();
      // nep2.disable();
      // console.log(nep1.is_enabled());
      // console.log(nep2.is_enabled());
      
    </script>

  </body>
</html>
