<!DOCTYPE html>
<html>
  <head>
    <title>Nepalify Test page</title>
  </head>
  <body>
    <div>
      <h1>Nepalify Test page</h1>
      <div id="app">
        <input id="some-element" />
        <textarea id="some-other-element"></textarea>
        <textarea id="disabled-start-element"></textarea>
      </div>
    </div>
    <% for (var f in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[f] %>"></script>
    <% } %>
    <script>
      var romanized = nepalify.layouts.romanized;

      var text = "kiMkr/tv/ybimuX/ haha";
      var ftext = nepalify.format(text);
      var fftext = nepalify.format(text, { layout: romanized });

      console.log(text);
      console.log(ftext);
      console.log(fftext);

      var nep1 = nepalify.interceptElementById("some-element");
      var nep2 = nepalify.interceptElementById("some-other-element", {
        layout: romanized,
      });
      var nep3 = nepalify.interceptElementById("disabled-start-element", {
        enable: false,
      });
      console.log("nep1 enabled :" + nep1.isEnabled());
      console.log("nep2 enabled :" + nep2.isEnabled());
      console.log("nep3 enabled :" + nep3.isEnabled());
    </script>
  </body>
</html>
